In [15]:
import json
import os
from pprint import pprint
import csv
import pandas as pd
import re
from geopy.geocoders import Nominatim
from pprint import pprint

Helper Functions

In [2]:
def safe_get(data, path, default=None):
    for key in path:
        if isinstance(data, dict):
            data = data.get(key, default)
        elif isinstance(data, list) and isinstance(key, int) and 0 <= key < len(data):
            data = data[key]
        else:
            return default
    return data

Extracting Authors' info

In [ ]:
#Extract author info
data_dir = 'Project_data'
output_file = 'authors.csv'

# Use a set to track unique author IDs
unique_authors = set()

with open(output_file, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    # Write the header once
    writer.writerow(['at_id', 'name', 'degree'])

    # Walk through all subdirectories and files
    for root, _, files in os.walk(data_dir):
        for filename in files:
            if filename.startswith('20'):
                file_path = os.path.join(root, filename)
                with open(file_path, 'r') as file:
                    print(file_path)
                    try:
                        data = json.load(file)
                        # Access authors
                        authors = data.get('abstracts-retrieval-response', {}).get('authors', {}).get('author', [])
                        for author in authors:
                            at_id = author.get("@auid")
                            if at_id and at_id not in unique_authors:  # Avoid duplicates
                                name = f"{author.get('ce:given-name', '')} {author.get('ce:surname', '')}".strip()
                                degree = author.get('ce:degrees', 'NA')
                                writer.writerow([at_id, name, degree])
                                unique_authors.add(at_id)  # Add the ID to the set
                    except (json.JSONDecodeError, KeyError) as e:
                        print(f"Error processing file {file_path}: {e}")

Extracting Affiliations Info

In [ ]:
#Extract affiliation info
data_dir = 'Sample_data'
output_file = 'affiliations.csv'
unique_affiliations = set()

with open(output_file, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['af_id', 'name', 'organization', 'country', 'city'])
    # Walk through all subdirectories and files
    for root, _, files in os.walk(data_dir):
        for filename in files:
            if filename.startswith('20'):
                file_path = os.path.join(root, filename)
                with open(file_path, 'r') as file:
                    
                    try:
                        data = json.load(file)
                        # Access authors
                        auth_groups = data.get('abstracts-retrieval-response', {}).get('item', {}).get('bibrecord', {}).get('head', {}).get('author-group', [])

                        if isinstance(auth_groups, list):
                            for auth_group in auth_groups:
                                affiliation = auth_group.get('affiliation', {})   
                                af_id = affiliation.get("@afid")
                                if af_id and af_id not in unique_affiliations:  # Avoid duplicates
                                    org_list = affiliation.get('organization', 'NA')
                                    if isinstance(org_list, list):
                                        organization = ', '.join([org['$'] for org in org_list])
                                        name = org_list[-1]['$']
                                    elif isinstance(org_list, dict):
                                        organization = org_list.get('$', 'NA')
                                        name = organization
                                    else:
                                        organization = affiliation.get('ce:text', 'NA')
                                        name = organization
                                    country = affiliation.get('country', 'NA')
                                    city = affiliation.get('city', 'NA')
                                    writer.writerow([af_id, name, organization, country, city])
                                    unique_affiliations.add(af_id)  # Add the ID to the set
                        else:
                            affiliation = auth_groups.get('affiliation', {}) 
                            af_id = affiliation.get("@afid")
                            if af_id and af_id not in unique_affiliations:  # Avoid duplicates
                                org_list = affiliation.get('organization', 'NA')
                                if isinstance(org_list, list):
                                    organization = ', '.join([org['$'] for org in org_list])
                                    name = org_list[-1]['$']
                                elif isinstance(org_list, dict):
                                    organization = org_list.get('$', 'NA')
                                    name = organization
                                else:
                                    organization = affiliation.get('ce:text', 'NA')
                                    name = organization
                            country = affiliation.get('country', 'NA')
                            city = affiliation.get('city', 'NA')
                            writer.writerow([af_id, name, organization, country, city])
                            unique_affiliations.add(af_id)  # Add the ID to the set
                    except (json.JSONDecodeError, KeyError) as e:
                        print(f"Error processing file {file_path}: {e}")

Author to Affiliations

In [6]:
data_dir = 'Project_data'
output_file = 'author_to_affi.csv'
columns = ['pid', 'at_id', 'af_id']
with open(output_file, 'w', newline='') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=columns)
    writer.writeheader()
    # Walk through all subdirectories and files
    for root, _, files in os.walk(data_dir):
        for filename in files:
            if filename.startswith('20'):
                file_path = os.path.join(root, filename)
                with open(file_path, 'r') as file:
                    
                    try:
                        data = json.load(file)
                        auth_groups = safe_get(data, ['abstracts-retrieval-response', 'item', 'bibrecord', 'head', 'author-group'], None)
                        if isinstance(auth_groups, list):
                            for auth_group in auth_groups:
                                affiliation = auth_group.get('affiliation', {})   
                                af_id = affiliation.get("@afid")
                                authors = auth_group.get('author', [])
                                for author in authors:
                                    at_id = author.get('@auid')
                                    writer.writerow({'pid': filename, 'at_id': at_id, 'af_id': af_id})
                        else:
                            affiliation = auth_groups.get('affiliation', {})
                            af_id = affiliation.get("@afid")
                            authors = auth_groups.get('author', [])
                            for author in authors:
                                at_id = author.get('@auid')
                                writer.writerow({'pid': filename, 'at_id': at_id, 'af_id': af_id})
                    except Exception as e:
                            print(f"Error processing file {file_path}: {e}")

Extract subject area data

In [26]:
data_dir = 'Project_data'
output_file = 'subject_areas.csv'

columns = [
    'subject_area_id', 'subject_area_name',
]

unique_subject = set()


with open(output_file, 'w', newline='', encoding='utf-8') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=columns)
    writer.writeheader()
    # Walk through all subdirectories and files
    for root, _, files in os.walk(data_dir):
        for filename in files:
            if filename.startswith('20'):
                file_path = os.path.join(root, filename)
                with open(file_path, 'r', encoding='utf-8') as file:
                    try:
                        data = json.load(file)
                        subject_areas_list = safe_get(data, ['abstracts-retrieval-response', 'subject-areas', 'subject-area'], None)
                        for subject in subject_areas_list:
                            subject_id = subject.get('@code', None)
                            subject_name = subject.get('$', None)
                            if subject_id not in unique_subject:
                                writer.writerow({
                                    'subject_area_id': subject_id,
                                    'subject_area_name': subject_name
                                })
                                unique_subject.add(subject_id)
                    except Exception as e:
                            print(f"Error processing file {file_path}: {e}")

Extracting Paper Data

In [4]:
def get_classification_codes(classification_list):
    """
    Processes the classification list and extracts the relevant classification code.
    
    :param classification_list: List of classifications, can be of different types.
    :return: List of classification codes.
    """
    classification_codes = []
    
    for classification in classification_list:
        if isinstance(classification, dict):
            classification_type = classification.get('@type')
            classification_data = classification.get('classification')
            
            if classification_type == 'SUBJABBR' or classification_type == 'ASJC':
                # For SUBJABBR and AJSC, classification might be a single string or a list
                if isinstance(classification_data, list):
                    classification_codes.extend([item.get('$') for item in classification_data if isinstance(item, dict)])
                else:
                    classification_codes.append(classification_data)  # Single string classification
            
            elif classification_type in ['CPXCLASS', 'FLXCLASS']:
                if isinstance(classification_data, list):
                    classification_codes.extend([item.get('classification-code') for item in classification_data if isinstance(item, dict)])
                elif isinstance(classification_data, dict):
                    classification_codes.append(classification_data.get('classification-code'))
    
    return classification_codes

In [3]:
def check_slice_or_single(data):
    #Ensures that the returned data is always a list, even if it's a single item.
    if data is None:
        return None
    if isinstance(data, list):
        return data
    return [data]

In [4]:
def handleidx(idxterms_data):
    if idxterms_data:
        if isinstance(idxterms_data, dict):  # If idxterms is a dictionary
            mainterm = idxterms_data.get('mainterm')
            if isinstance(mainterm, list):
                idxterms = [i.get('$', None) for i in mainterm]  # Extract the '$' value from each item in the list
            elif isinstance(mainterm, dict):
                idxterms = [mainterm.get('$', None)]  # If 'mainterm' is a single dict, extract the '$'
            else:
                idxterms = None
        elif isinstance(idxterms_data, list):  # If idxterms is a list
            idxterms = [i.get('$', None) for i in idxterms_data if isinstance(i, dict)]  # Loop through and extract '$'
        else:
            idxterms = None
    else:
        idxterms = None
    return idxterms

In [44]:
data_dir = './Sample_data'
output_file = 'papers.csv'

columns = [
    'pid','title', 'pub_date', 'abstract', 'language', 'ref_count',
    'citedby_count', 'corresponding_author', 'author_id', 'subject_areas_id', 'keywords',
    'idxterms', 'classification_code'
]
cnt = 0
with open(output_file, 'w', newline='', encoding='utf-8') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=columns)
    writer.writeheader()
    # Walk through all subdirectories and files
    for root, _, files in os.walk(data_dir):
        for filename in files:
            if cnt == 40: break
            cnt+=1
            if filename.startswith('20'):
                file_path = os.path.join(root, filename)
                with open(file_path, 'r', encoding='utf-8') as file:
                    try:
                        data = json.load(file)
                        title = safe_get(data, ['abstracts-retrieval-response', 'item', 'bibrecord', 'head', 'citation-title'], None)
                        pub_year = safe_get(data, ['abstracts-retrieval-response', 'item', 'bibrecord', 'head', 'source', 'publicationdate', 'year'], None)
                        pub_month = safe_get(data, ['abstracts-retrieval-response', 'item', 'bibrecord', 'head', 'source', 'publicationdate', 'month'], None)
                        pub_day = safe_get(data, ['abstracts-retrieval-response', 'item', 'bibrecord', 'head', 'source', 'publicationdate', 'day'], None)
                        pub_date = f"{pub_day}/{pub_month}/{pub_year}" if pub_year and pub_month and pub_day else None
                        abstract = safe_get(data, ['abstracts-retrieval-response', 'item', 'bibrecord', 'head', 'abstracts'], None)
                        language = safe_get(data, ['abstracts-retrieval-response', 'item', 'bibrecord', 'head', 'citation-info', 'citation-language', '@language'], None)
                        ref_count = safe_get(data, ['abstracts-retrieval-response', 'item', 'bibrecord', 'tail', 'bibliography', '@refcount'], None)
                        citedby_count = safe_get(data, ['abstracts-retrieval-response', 'coredata', 'citedby-count'], None)
                        
                        
                        authors_list = safe_get(data, ['abstracts-retrieval-response', 'authors', 'author'], None)
                        author_dict= {f"{author.get('ce:given-name', '')} {author.get('ce:surname', '')}".strip() : author.get('@auid', None) for author in authors_list if isinstance(author, dict)} if authors_list else None
                        author_id = list(author_dict.values())
                        cor_author = safe_get(data, ['abstracts-retrieval-response', 'item', 'bibrecord', 'head', 'correspondence', 'person'], None)
                        ca_name = f"{safe_get(cor_author, ['ce:given-name'], '')} {safe_get(cor_author, ['ce:surname'], '')}".strip()
                        
                        coressponding_auid = author_dict.get(ca_name, None)

                        subject_areas_list = safe_get(data, ['abstracts-retrieval-response', 'subject-areas', 'subject-area'], None)
                        subject_areas_id = [subject_area.get('@code', None) for subject_area in subject_areas_list if isinstance(subject_area, dict)] if subject_areas_list else None
                        
                        authkeywords = safe_get(data, ['abstracts-retrieval-response', 'authkeywords'], None)
                        keywords = None
                        if authkeywords and 'author-keyword' in authkeywords:
                            authkeyword = authkeywords.get('author-keyword', None)
                            if(isinstance(authkeyword, dict)):
                                keywords = re.sub(r'(?<=[\s])([A-Z])', r' \1', authkeyword.get('$', None)).split('  ')
                            else:
                                keywords = [k['$'] for k in authkeyword if isinstance(k, dict)]                            
                        keywords = check_slice_or_single(keywords)
                        
                        idxterms_data = safe_get(data, ['abstracts-retrieval-response', 'idxterms'], None)
                        idxterms = handleidx(idxterms_data)
                        
                        classification_list = safe_get(data, ['abstracts-retrieval-response', 'item', 'bibrecord', 'head', 'enhancement', 'classificationgroup', 'classifications'], None)
                        classification_code = get_classification_codes(classification_list)
                        classification_code = check_slice_or_single(classification_code)
                        
                        writer.writerow({
                            'pid': filename,
                            'corresponding_author': coressponding_auid,
                            'title': title,
                            'pub_date': pub_date,
                            'abstract': abstract,
                            'language': language,
                            'ref_count': ref_count,
                            'citedby_count': citedby_count,
                            'author_id': author_id,
                            'subject_areas_id': subject_areas_id,
                            'keywords': keywords,
                            'idxterms': idxterms,
                            'classification_code': classification_code
                        })
                    except Exception as e:
                            print(f"Error processing file {file_path}: {e}")

Extracting city and city network data

In [54]:
# Constants
from fuzzywuzzy import process
from fuzzywuzzy import fuzz
CITY_FILE_NAME = 'city'
COCITY_FILE_NAME = 'cocity'
DATA_DIR = "./Project_data"
GEOLOCATOR = Nominatim(user_agent="isdjuiodfgdfjnjf847hn5")

In [35]:
x = GEOLOCATOR.geocode("Batticolo Sri Lanka").raw
if x:
    print(x)

AttributeError: 'NoneType' object has no attribute 'raw'

In [55]:
# Utility functions
def find_similar_city(city, city_dict, threshold=90):
    """Find a similar city in city_dict using fuzzy matching."""
    if not city_dict:
        return None  # No cities to compare
    closest_match, similarity = process.extractOne(city, city_dict.keys(), scorer=fuzz.token_sort_ratio)
    return closest_match if similarity >= threshold else None

def initialize_city_file(city_file):
    """Initialize city CSV if it does not exist."""
    if not os.path.exists(city_file):
        city_df = pd.DataFrame(
            columns=["city_id", "city", "country", "citation_sum", "p_count", "lat", "lon"]
        )
        return city_df, {}
    city_df = pd.read_csv(city_file)
    city_dict = {row["city"]: row["city_id"] for _, row in city_df.iterrows()}
    return city_df, city_dict

def initialize_cocity_file(cocity_file):
    """Initialize cocity CSV if it does not exist."""
    if not os.path.exists(cocity_file):
        with open(cocity_file, "w", newline="", encoding="utf-8") as cocity_csvfile:
            writer = csv.writer(cocity_csvfile)
            writer.writerow(["city_id1", "city_id2", "filename"])

def get_geolocation(city, country):
    """Fetch latitude and longitude for a city."""
    geo = GEOLOCATOR.geocode(f"{city}, {country}")
    if geo:
        return geo.latitude, geo.longitude
    return None, None

def write_cocity_links(cocity_file, city_country_set, city_dict, filename):
    """Write co-city links to the cocity file."""
    with open(cocity_file, "a", newline="", encoding="utf-8") as cocity_csvfile:
        writer = csv.writer(cocity_csvfile)
        for city1, country1 in city_country_set:
            for city2, country2 in city_country_set:
                if city1 != city2:  # Avoid linking same city
                    city_id1 = city_dict[city1]
                    city_id2 = city_dict[city2]
                    writer.writerow([city_id1, city_id2, filename])

def update_city_data(city_df, city_dict, city, country, citedby_count):
    """Update city data and return the modified city_df and city_dict."""
    if city in city_dict:
        city_id = city_dict[city]
        city_df.loc[city_df["city_id"] == city_id, "citation_sum"] += int(citedby_count)
        city_df.loc[city_df["city_id"] == city_id, "p_count"] += 1
    else:
        # similar_city = find_similar_city(city, city_dict)
        # if similar_city:
        #     city_id = city_dict[similar_city]
        #     city_df.loc[city_df["city_id"] == city_id, "citation_sum"] += int(citedby_count)
        #     city_df.loc[city_df["city_id"] == city_id, "p_count"] += 1
        # else:
            # No similar city found, add as a new entry
        city_id = len(city_dict) + 1
        city_dict[city] = city_id
        lat, lon = get_geolocation(city, country)
        # Ensure new_row has the correct structure
        new_row = pd.DataFrame(
            [{
                "city_id": city_id,
                "city": city,
                "country": country,
                "citation_sum": int(citedby_count),
                "p_count": 1,
                "lat": lat,
                "lon": lon,
            }],
            columns=city_df.columns  # Ensure alignment with city_df structure
        )
        city_df = pd.concat([city_df, new_row], ignore_index=True)
    
    return city_df, city_dict

In [ ]:
# Extraction non-verbose #took 50 minutes to compute lol
for root, _, files in os.walk(DATA_DIR):
    for filename in files:
        if filename.startswith("20"):
            file_path = os.path.join(root, filename)
            with open(file_path, "r", encoding="utf-8") as file:
                try:
                    data = json.load(file)
                    # city and cocity
                    city_file = f"../CSVs/{CITY_FILE_NAME}.csv"
                    #! Create new city.csv if it doesn't exist
                    city_df, city_dict = initialize_city_file(city_file)

                    citedby_count = safe_get(
                        data,
                        ["abstracts-retrieval-response", "coredata", "citedby-count"],
                        None,
                    )
                    citedby_count = int(citedby_count) if citedby_count else 0
                    city_country_set = set()

                    affiliations = safe_get(
                        data, ["abstracts-retrieval-response", "affiliation"], None
                    )
                    # always return list or None
                    affiliation_list = check_slice_or_single(affiliations)

                    for affiliation in affiliation_list:
                        city = affiliation.get("affiliation-city", None)
                        country = affiliation.get("affiliation-country", None)
                        # print(city, country)
                        if city and country:
                            city_country_set.add((city, country))

                    # Handle I. Single City, II. Multiple Cities
                    if len(city_country_set) == 1:
                        #! Case I: Single City
                        city, country = list(city_country_set)[0]
                        city_df, city_dict = update_city_data(city_df, city_dict, city, country, citedby_count)
                    else:
                        #! Case II: Multiple Cities
                        for city, country in city_country_set:
                            city_df, city_dict = update_city_data(city_df, city_dict, city, country, citedby_count)
                        # create cocity.csv and link the cities
                        cocity_file = f"../CSVs/{COCITY_FILE_NAME}.csv"
                        initialize_cocity_file(cocity_file)
                        write_cocity_links(cocity_file, city_country_set, city_dict, filename)

                    city_df.to_csv(city_file, index=False)

                except Exception as e:
                    print(f"Error processing file {file_path}: {e}")

In [58]:
def geocode_country(row):
    if pd.isnull(row['lat']) and pd.isnull(row['lon']):
        geo = GEOLOCATOR.geocode(f"{row['country']}")
        if geo:
            return pd.Series({'lat': geo.latitude, 'lon': geo.longitude})
    return pd.Series({'lat': row['lat'], 'lon': row['lon']})

In [59]:
df = pd.read_csv('../CSVs/city.csv')

df[['lat', 'lon']] = df.apply(geocode_country, axis=1)
print(df[df.isnull().any(axis=1)])
#impute missing coordinate value base on country coordinates

Empty DataFrame
Columns: [city_id, city, country, citation_sum, p_count, lat, lon]
Index: []

In [61]:
print(df.to_string())
df.to_csv('city_imputed.csv', index=False)

      city_id                                city                         country  citation_sum  p_count        lat         lon
0           1                             Bangkok                        Thailand        186763    20196  13.752494  100.493509
1           2                       Nakhon Pathom                        Thailand         12503     1411  13.891842  100.016566
2           3                               Suita                           Japan          2079       99  34.759419  135.516835
3           4                           Rochester                   United States         21240      687  43.157285  -77.615214
4           5                           Riverside                   United States         17453      555  33.982495 -117.374238
5           6                           San Diego                   United States         20689      609  32.717420 -117.162772
6           7                     University Park                   United States          1917       75  41.440034  -87.683377
7           8                           Trondheim                          Norway          1366       22  63.430447   10.395212
8           9                              Prague                  Czech Republic         21069      593  50.087465   14.421254
9          10                 Nakhon si Thammarat                        Thailand           104       14   8.677234   99.730964
10         11                              Hatyai                        Thailand          3302      464   6.934099  100.387975
11         12                           Edinburgh                  United Kingdom          3541       63  55.953346   -3.188375
12         13                             Beijing                           China         25836      791  40.190632  116.412144
13         14                           Amsterdam                     Netherlands          6977      172  52.373080    4.892453
14         15                              Taipei                          Taiwan         23818      790  25.037520  121.563680
15         16                           Southport                       Australia           124        3 -27.968781  153.406670
16         17                               Depok                       Indonesia          1647       44  -6.407190  106.815837
17         18                            Auckland                     New Zealand         21046      571 -36.852095  174.763180
18         19                               Xi'an                           China          3382       68  34.261004  108.942336
19         20                               Tokyo                           Japan         12022      643  35.676860  139.763895
20         21                           Rotterdam                     Netherlands          2008       57  51.924442    4.477750
21         22                    Stockton on Tees                  United Kingdom           124        3  54.564094   -1.312916
22         23                     Central Jakarta                       Indonesia          3228       79  -6.182340  106.842872
23         24                           Kaohsiung                          Taiwan          2813       93  22.620335  120.312038
24         25                      Singapore City                       Singapore         10683      435   1.289918  103.851907
25         26                           Melbourne                       Australia         32696     1045 -37.814245  144.963173
26         27                         Quezon City                     Philippines          2237       61  14.651055  121.048625
27         28                 Bandar Seri Begawan               Brunei Darussalam           326       15   4.889545  114.941757
28         29                            Portland                   United States          3147       32  45.520247 -122.674194
29         30                               Seoul                     South Korea         26999      883  37.566679  126.978291
30         31                           Hong Kong                       Hong Kong          7585      318  22.279328  114.162813
31         32                           New Delhi                           India         20610      640  28.643086   77.219267
32         33                            Ayuthaya                        Thailand           205       25  13.752494  100.493509
33         34                        Pathum Thani                        Thailand         12927     1747  14.048667  100.564041
34         35                            Brisbane                       Australia          5026      147 -27.468968  153.023499
35         36                             Seattle                   United States          3344       89  47.603832 -122.330062
36         37                         Johor Bahru                        Malaysia           398       27   1.458199  103.764906
37         38                              Al Ain            United Arab Emirates          1348       19  24.224870   55.745221
38         39                       Maha Sarakham                        Thailand           492      108  15.904145  103.084064
39         40                              London                  United Kingdom         30341      996  51.507446   -0.127765
40         41                            Shanghai                           China          8933      357  31.231271  121.470015
41         42                            New York                   United States         13157      373  40.712728  -74.006015
42         43                         Chapel Hill                   United States          3517       48  35.913154  -79.055780
43         44                           Baltimore                   United States         21777      726  39.290882  -76.610759
44         45                Freiburg im Breisgau                         Germany          1520       29  47.996090    7.849400
45         46                                 Hue                        Viet Nam           325       27  16.463932  107.586339
46         47                           Khon Kaen                        Thailand          5085      589  16.602239  102.635293
47         48                               Wuhan                           China          4549       96  30.595105  114.299935
48         49                         Qinhuangdao                           China          2994       84  39.939572  119.589413
49         50                            Shenzhen                           China          2399       55  22.544574  114.054543
50         51                               Paris                          France         21526      666  48.853495    2.348391
51         52                           Chiangmai                        Thailand          1646      134  18.800926   98.952155
52         53                                Lyon                          France          3025       51  45.757814    4.832011
53         54                          Heidelberg                         Germany          2037       83  49.409358    8.694724
54         55                             Pachuca                          Mexico           268       51  20.116541  -98.741354
55         56                              Puebla                          Mexico         17114      577  18.833333  -98.000000
56         57                               Padua                           Italy         21339      637  45.407717   11.873446
57         58                              Durham                   United States          7778      336  35.996653  -78.901805
58         59                            Houghton                   United States          1303       56  46.859129  -88.777473
59         60                            Valencia                           Spain          3516       77  39.469707   -0.376335
60         61                              Mexico                          Mexico         19271      624  19.432630  -99.133178
61         62                             Atlanta                   United States          3345      112  33.748992  -84.390264
62         63                           Palo Alto                   United States          3842       96  37.444329 -122.159847
63         64                           Monterrey                          Mexico           167       50  25.680202 -100.315258
64         65                          Los Alamos                   United States          1321       54  35.881370 -106.298959
65         66                             Morelia                          Mexico           274       53  19.654600 -101.262380
66         67                        East Lansing                   United States           714       75  42.732031  -84.472168
67         68              San Pedro Garza Garcia                          Mexico           230       44  25.652713 -100.372238
68         69                              Irvine                   United States          1535       62  33.685697 -117.825981
69         70                      Salt Lake City                   United States          3816       99  40.759620 -111.886797
70         71                            Erlangen                         Germany          2212       65  49.589157   10.981207
71         72                    Tuxtla Gutierrez                          Mexico           268       51  16.753801  -93.115959
72         73                          Huntsville                   United States            10       36  34.729847  -86.585901
73         74                              Krakow                          Poland          6828      362  50.061947   19.936856
74         75                           Greenbelt                   United States           163       41  38.993365  -76.883332
75         76                         Guadalajara                          Mexico          1501       57  20.672037 -103.338396
76         77                         Albuquerque                   United States          1413       62  35.084103 -106.650985
77         78                        College Park                   United States         19135      586  38.980666  -76.936919
78         79                    Washington, D.C.                   United States         20043      651  38.895037  -77.036543
79         80                             Madison                   United States         19350      619  43.074761  -89.383761
80         81                             Nairobi                           Kenya           459       28  -1.302615   36.828842
81         82                              Durban                    South Africa          1010       31 -29.861825   31.009909
82         83                                Pune                           India         18532      580  18.521374   73.854507
83         84                        Stellenbosch                    South Africa          1477       20 -33.934444   18.869167
84         85                             Chennai                           India         21012      679  13.083694   80.270186
85         86                             Kampala                          Uganda          2111       24   0.317714   32.581354
86         87                          Pittsburgh                   United States         20395      613  40.441694  -79.990086
87         88                        Johannesburg                    South Africa          1448       61 -26.205000   28.049722
88         89                              Boston                   United States         23576      794  42.355433  -71.060511
89         90                            Lilongwe                          Malawi           100        6 -13.987511   33.768144
90         91                             Tubarao                          Brazil           234        8 -28.471488  -49.014132
91         92                           Cleveland                   United States          2532       64  41.499657  -81.693677
92         93                       Silver Spring                   United States           690       49  38.999762  -77.024037
93         94                            Bethesda                   United States          3634      127  38.981273  -77.123359
94         95                              Harare                        Zimbabwe           301       12 -17.856703   31.060158
95         96                      Port-au-Prince                           Haiti            85        6  18.547327  -72.339593
96         97                             Eldoret                           Kenya           124        8   0.519833   35.271548
97         98                        Philadelphia                   United States          5898      145  39.952724  -75.163526
98         99                      Rio de Janeiro                          Brazil         19259      589 -22.911014  -43.209373
99        100                                Lima                            Peru           943       51 -12.062107  -77.036526
100       101                          Chaing Mai                        Thailand          6031      704  18.787673   98.982837
101       102                               Ikoma                           Japan           187       22  34.691527  135.696168
102       103                                Nomi                           Japan           200       26  36.439226  136.542441
103       104                              Phayao                        Thailand          1099      104  19.341673  100.185454
104       105                         Santa Clara                   United States           253       12  37.354113 -121.955174
105       106                           Iowa City                   United States         18281      544  41.661256  -91.529911
106       107                           Al Ahmadi                          Kuwait          1393      135  28.853857   48.165238
107       108                            Helsinki                         Finland         20564      553  60.167488   24.942747
108       109                          Strasbourg                          France         18172      546  48.584614    7.750713
109       110                              Dublin                         Ireland         20501      563  53.349379   -6.260559
110       111                            Lausanne                     Switzerland          3604      135  46.521827    6.632702
111       112                          Tuscaloosa                   United States         17918      526  33.209561  -87.567526
112       113                       Santa Barbara                   United States         16942      527  34.422132 -119.702667
113       114                              Aachen                         Germany         18128      539  50.776351    6.083862
114       115                           Nashville                   United States         19702      564  36.162277  -86.774298
115       116                             Tbilisi                         Georgia         17763      543  41.693459   44.801449
116       117                              Vienna                         Austria         19537      618  48.208354   16.372504
117       118                              Fayoum                           Egypt          4686      237  29.340737   30.620104
118       119                             Nanjing                           China          5395      237  32.043828  118.778863
119       120                          Notre Dame                   United States         17871      522  41.704568  -86.238220
120       121                            Columbus                   United States         18931      572  39.962260  -83.000707
121       122                            Gyongyos                         Hungary           168       49  47.779984   19.929118
122       123                            Medellin                        Colombia          6784      279   6.269732  -75.602560
123       124                              Sirnak                          Turkey          3120      166  37.455253   42.521205
124       125                             Isfahan                            Iran         11505      385  32.670788   51.665000
125       126                          El Shorouk                           Egypt          8951      278  30.148854   31.629562
126       127                            Lawrence                   United States         16830      526  38.971914  -95.235940
127       128                         Minneapolis                   United States         18893      581  44.977300  -93.265469
128       129                            Evanston                   United States         17318      536  42.047004  -87.684605
129       130                    Louvain-la-Neuve                         Belgium         19368      526  50.674169    4.613791
130       131                         Southampton                  United Kingdom         13697      403  50.902535   -1.404189
131       132                        Kuala Lumpur                        Malaysia         23537      774   3.151696  101.694237
132       133                               Solan                           India          8637      302  30.907757   77.102364
133       134                                Pisa                           Italy         18756      544  43.471472   10.679791
134       135                           Antwerpen                         Belgium         19639      549  51.221110    4.399708
135       136                      Gif-sur-Yvette                          France         18987      580  48.701882    2.134529
136       137                             Kolkata                           India         18737      549  22.572646   88.363895
137       138                      West Lafayette                   United States         18041      545  40.425869  -86.908066
138       139                         Dolgoprudny              Russian Federation         16792      491  55.946608   37.504836
139       140                        Porto Alegre                          Brazil         10992      344 -30.032500  -51.230377
140       141                         Bhubaneswar                           India         18421      518  20.260296   85.839452
141       142                              Otwock                          Poland         16787      513  52.104120   21.268109
142       143                        Campo Grande                          Brazil          3204      181 -20.464017  -54.616295
143       144                            Campinas                          Brazil         13658      388 -22.905639  -47.059564
144       145                               Meram                          Turkey          6713      229  37.867953   32.494651
145       146                       New Brunswick                   United States         18096      551  40.486217  -74.451817
146       147                          Chandigarh                           India         19363      564  30.733442   76.779714
147       148                              Naples                           Italy         18406      559  40.835885   14.248768
148       149                              Zagreb                         Croatia         19742      552  45.813097   15.977279
149       150                               Split                         Croatia         17910      525  43.511638   16.439966
150       151                             Chicago                   United States         22233      655  41.875562  -87.624421
151       152                             Cottbus                         Germany         12517      362  51.756745   14.335731
152       153                       Benito Juarez                          Mexico         11453      359  21.074263  -86.926562
153       154                        Santiniketan                           India         11487      361  22.842238   88.655674
154       155                           Livermore                   United States         16811      520  37.682058 -121.768053

Phuree Code

In [14]:
#--- Phuree---#

geolocator = Nominatim(user_agent="isdjuiodfgdfjnjf847hn5")

data_dir = './Sample_data'
output_file = '../CSVs/papers-mock.csv'

cnt = 0
for root, _, files in os.walk(data_dir):
    for filename in files:
        if cnt == 50: break
        cnt+=1
        if filename.startswith('20'):
            file_path = os.path.join(root, filename)
            with open(file_path, 'r', encoding='utf-8') as file:
                try:
                    data = json.load(file)
                    
                    # Extract organization (institution) information
                    org_list = safe_get(data, ['abstracts-retrieval-response', 'item', 'bibrecord', 'head', 'correspondence','affiliation','organization'], None)
                    organization = None
                    if isinstance(org_list, list):
                        organization = org_list[-1]['$'] if org_list else None
                    elif isinstance(org_list, dict):
                        organization = org_list.get('$', None)

                    # city and cocity
                    city_file = '../CSVs/city1.csv'
                    #! Create new city.csv if it doesn't exist
                    if not os.path.exists(city_file):
                        city_df = pd.DataFrame(columns=['city_id', 'city', 'country', 'citation_sum', 'p_count','lat','lon'])
                        city_dict = {}
                        # Add a mock row
                        mock_row = {
                            'city_id': 1,
                            'city': 'Mock City eiei',
                            'country': 'Mock Country eiei',
                            'citation_sum': 0,
                            'p_count': 0,
                            'lat': 0,
                            'lon': 0
                        }
                        city_df.loc[-1] = mock_row
                    else:
                        city_df = pd.read_csv(city_file)

                    city_dict = {}
                    if city_df.shape[0] != 0:
                        city_dict = {row['city']: row['city_id'] for _, row in city_df.iterrows()}

                    citedby_count = safe_get(data, ['abstracts-retrieval-response','coredata','citedby-count'], None)
                    citedby_count = int(citedby_count) if citedby_count else 0
                    # print("count",citedby_count)
                    # set (city, country)
                    city_country_set = set()
                    
                    affiliations = safe_get(data, ['abstracts-retrieval-response', 'affiliation'], None)
                    # always return list or None
                    affiliation_list = check_slice_or_single(affiliations) 
            
                    for affiliation in affiliation_list:
                        city = affiliation.get('affiliation-city', None)
                        country = affiliation.get('affiliation-country', None)
                        # print(city, country)
                        if city and country:
                            city_country_set.add((city, country))

                    # Handle I. Single City, II. Multiple Cities
                    if len(city_country_set) == 1:
                        #! Case I: Single City
                        city, country = list(city_country_set)[0]
                        
                        if city in city_dict:
                            city_id = city_dict[city] 
                            city_df.loc[city_df['city_id'] == city_id, 'citation_sum'] += int(citedby_count)
                            city_df.loc[city_df['city_id'] == city_id, 'p_count'] += 1
                        else:
                            city_id = len(city_dict) + 1
                            city_dict[city] = city_id
                            #geolocation 
                            # geo = geolocator.geocode(f"{city}, {country}")
                            lat, lon = None, None
                            # if geo:
                            #     lat, lon = geo.latitude, geo.longitude
                                
                            new_row = pd.DataFrame([{
                                'city_id': city_id,
                                'city': city,
                                'country': country,
                                'citation_sum': int(citedby_count),
                                'p_count': 1,
                                'lat': lat,
                                'lon': lon
                            }])
                            city_df = pd.concat([city_df, new_row], ignore_index=True)
                    else:
                        #! Case II: Multiple Cities
                        for city, country in city_country_set:
                            if city in city_dict:
                                city_id = city_dict[city]
                                city_df.loc[city_df['city_id'] == city_id, 'citation_sum'] += int(citedby_count)
                                city_df.loc[city_df['city_id'] == city_id, 'p_count'] += 1
                            else:
                                city_id = len(city_dict) + 1
                                city_dict[city] = city_id
                                #geolocation 
                                # geo = geolocator.geocode(f"{city}, {country}")
                                lat, lon = None, None
                                # if geo:
                                #     lat, lon = geo.latitude, geo.longitude
                                new_row = pd.DataFrame([{
                                    'city_id': city_id,
                                    'city': city,
                                    'country': country,
                                    'citation_sum': int(citedby_count),
                                    'p_count': 1,
                                    'lat': lat,
                                    'lon': lon
                                }])
                                city_df = pd.concat([city_df, new_row], ignore_index=True)

                        # create cocity.csv and link the cities
                        cocity_file = '../CSVs/cocity.csv'
                        with open(cocity_file, 'a', newline='', encoding='utf-8') as cocity_csvfile:
                            cocity_writer = csv.writer(cocity_csvfile)
                            # Write header if file is empty
                            if os.stat(cocity_file).st_size == 0:
                                cocity_writer.writerow(['city_id1', 'city_id2', 'filename'])
                            for city1, country1 in city_country_set:
                                for city2, country2 in city_country_set:
                                    if city1 != city2: # Avoid linking same city
                                        city_id1 = city_dict[city1]
                                        city_id2 = city_dict[city2]
                                        cocity_writer.writerow([city_id1, city_id2, filename])


                    city_df.to_csv(city_file, index=False)
                     
                except Exception as e:
                    print(f"Error processing file {file_path}: {e}")

/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)
/var/folders/hy/4rbd3xkx3z596480zrt_f6kc0000gn/T/ipykernel_1039/419716069.py:120: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  city_df = pd.concat([city_df, new_row], ignore_index=True)